.productStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.CardStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px black;

}
