
header{
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid black;
    
}
img{
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 30px;
 
}
.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
a{
    color: black;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    
}